<!DOCTYPE html>
<html>
  <head>
    <title>Express From Scratch</title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/nav_bar.css">
  </head>
  <body>

    <div class="nav-bar">
      <div class="nav-buttons">
        <a href="/">HOME</a>
        <a href="/users/new">Create User</a>
      </div>
    </div>

    <div class="main-page-content">
      <h1>AHHHH SHIIIII</h1>
      <br>
      <hr>
      <br>
      <p><%= locals.error || "There was an undefined error" %></p>
    </div>
  </body>
</html>