.nav-bar {
  display: flex;
  place-content: center;
  place-items: center;
  position: fixed;
  top: 0;

  width: 100%;
  height: 30px;
  font-family: roboto, arial;
  background-color: darkred;
}

.nav-bar a {
  flex: 1;
  padding: 2px 10px;
  text-align: center;
  color: white;
  text-decoration: none;
}