<!DOCTYPE html>
<html>
  <head>
    <title>Create New User</title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/nav_bar.css">
  </head>
  <body>
    
    <div class="nav-bar">
      <div class="nav-buttons">
        <a href="/">HOME</a>
        <a href="/users">User List</a>
        <a href="./new">Create User</a>
        <form action=""></form>
      </div>
    </div>

    <div class="main-page-content">
      <form action="/users/admin" method="POST">
        <div>
          <label for="username">Username</label>
          <input type="text" name="username" id="username" value="<%= locals.inputtedUsername %>">
        </div>
        <button type="submit">Find User</button>
        <button type="reset">Clear Form</button>
      </form>
    </div>

    <!-- <script src="/js/user_validator.js"></script> -->

  </body>
</html>