<!DOCTYPE html>
<html>
  <head>
    <title>Create New User</title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/nav_bar.css">
  </head>
  <body>
    
    <div class="nav-bar">
      <div class="nav-buttons">
        <a href="/">HOME</a>
        <!-- <a href="/users">User List</a> -->
        <a href="/users/new">Create User</a>
        <form action=""></form>
      </div>
    </div>

    <div class="main-page-content">
      <form action="/users/new" method="POST">
        <div>
          <label for="username">Username</label>
          <input type="text" name="username" id="username" value="<%= locals.inputtedUsername %>" required>
        </div>
        <div>
          <label for="password">Password</label>
          <input type="password" name="password" id="password" value="<%= locals.inputtedPassword %>" required>
        </div>
        <div>
          <label for="email">Email</label>
          <input type="email" name="email" id="email" value="<%= locals.inputtedEmail %>">
        </div>
        <div>
          <label for="phoneNumbner">Phone #</label>
          <input type="tel" name="phoneNumbner" id="phoneNumbner" value="<%= locals.inputtedPhone %>">
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>