<!DOCTYPE html>
<html>
  <head>
    <title>Express From Scratch</title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/nav_bar.css">
  </head>
  <body>

    <div class="nav-bar">
      <div class="nav-buttons">
        <a href="/">HOME</a>
        <!-- <a href="/users">User List</a> -->
        <a href="/users/new">Create User</a>
        <form action=""></form>
      </div>
    </div>

    <div class="main-page-content">
      <p>Username: <%= locals.userUsername || "[No Username found]" %></p>
      <p>User ID: <%= locals.userId || "[No ID found]" %></p>
    </div>
  </body>
</html>