<!DOCTYPE html>
<html>
  <head>
    <title>Express From Scratch</title>
    <link rel="stylesheet" href="/general.css">
    <link rel="stylesheet" href="/nav_bar.css">
  </head>
  <body>

    <div class="nav-bar">
      <div class="nav-buttons">
        <a href="/">HOME</a>
        <a href="./">User List</a>
        <a href="./new">Create User</a>
        <form action=""></form>
      </div>
    </div>

    <div class="main-page-content">
      <p>Get user with ID: <%= locals.userId || "[No ID given]" %></p>
    </div>
  </body>
</html>