<!DOCTYPE html>
<html>
  <head>
    <title>Express From Scratch</title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/nav_bar.css">
  </head>
  <body>

    <div class="nav-bar">
      <div class="nav-buttons">
        <a href="/">HOME</a>
        <!-- <a href="/users">User List</a> -->
        <a href="/users/new">Create User</a>
      </div>
    </div>

    <div class="main-page-content">
      <div class="search-container">
        <form action="/users" method="get">
          <h1>Search for user</h1>
          <div class="search-bar">
            <input type="text" placeholder="Search" name="username">
            <button type="submit">SEARCH</button>
          </div>
        </form>
      </div>
      <ol id="user-list-container" data-users-list=<%= locals.users_list || "[No list given]" %>></ol>
    </div>

    <script type="module" src="/js/user_list_render.js"></script> <!--"type=module" is necessary for both exporting and importing functions from file to file. -->
    <script type="module" src="/js/user_validate.js"></script>

  </body>
</html>