<!DOCTYPE html>
<html>
  <head>
    <title>Express From Scratch</title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/nav_bar.css">
  </head>
  <body>

    <div class="nav-bar">
      <div class="nav-buttons">
        <a href="/">HOME</a>
        <a href="./">User List</a>
        <a href="./new">Create User</a>
        <form action=""></form>
      </div>
    </div>

    <div class="main-page-content">
      <ol id="user-list-container" data-users-list=<%= locals.users_list || "[No list given]" %>></ol>
    </div>

  <script src="/js/user_list_render.js"></script>

  </body>
</html>